*{
    padding: 0px;
    margin: 0px;
}

.wrapper{
    height: 500px;
    width: 500px;
    border: 1px solid red;
    overflow: auto;
    /* display: flex;
    flex-direction: column;
    align-items:baseline; */
}

.card{
    display: flex;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 100px;
}

.number{
    width: 20px;
    height: 20px;
    background-color: rgb(12, 168, 116);
    border-radius: 50%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}


