*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
    height: 500px;
    width: 500px;
    border: 1px solid rgb(0, 0, 0);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}
.number{
    width: 20px;
    height: 20px;
    background-color: rgb(156, 177, 97);
    border-radius: 50%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.card{
    display: flex;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}