*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.header_inner{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 100px;
    border-bottom: 1px solid #D0D0D0;
}
.center{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
.languages{
    width: 80px;
    border-left:1px solid #E2E2E2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.ru{
    padding-top: 0;
    width: 35px;
    height: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.ru:hover{
    background-color: #4AD295;
    color: white;
}
.ua{
    width: 35px;
    height: 20px;
    text-align: center;
    margin: 0px;
}
.well{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 125px;
    border-left:1px solid #E2E2E2;
}
.img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 135px;
    border-left:1px solid #E2E2E2;
}
.phone{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 224px;
    border-left:1px solid #E2E2E2;
    border-right:1px solid #E2E2E2;
}
.button{
    display: flex;
    justify-content: space-evenly;
    width: 512px;
}
.button1{
    display: flex;
    text-decoration: none;
    color: black;
}
.onl{
    background-color:  #EFF3F6;
    width: 185px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.onli{
    width: 56px;
    height: 56px;
    background-color: #DD4053;
}
.img2{
    margin: 18px;
}
.onl1{
    background-color:  #EFF3F6;
    width: 185px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onli1{
    width: 56px;
    height: 56px;
    background-color: #4AD295;
}
.enumeration{
    margin-top: 12px;
}
.enumeration_inner{
    display: flex;
    align-items:center;
    justify-content: center;
}
.enume{
    list-style-type: none;
    display: flex;
}
.li{
    padding-left: 60px;
    display: flex;
    align-items:center;
}
.polygon{
    width: 6px;
    height: 6px;
    margin-left: 8px;
}
.map{
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%), url(img/maxresdefault.png);
    background-size: cover;
}
.map_inner{
    height: 490px;
    display: flex;
    margin: 0 auto;
}
.price{
    width: 249px;
    height: 45px;
    border: 1px solid white;
    margin-top: 104px;
    margin-left: 200px;
}
.price_inner{
    color: white;
    text-align: center;
    padding-top: 13px;
}
.map_center{
    width: 725px;
    height: 102px;
    color: white;
    font-size: 45px;
    margin-top: 16px;
    margin-left: 200px;
}
.detali{
    background-color:rgba(255, 255, 255, 0.25);;
    color:white;
    text-decoration: none;
    padding: 20px 85px;
}
.button2{
    margin-top: 58px;
    margin-left: 200px;
}
.aftermap{
    background:#f8f8f8da;
}
.aftermap_inner{
    width: 1440px;
    height: 250px;
    display: flex;
}
.part1{
    width: 60%;
    height: 250px;
}
.p{
    color: black;
    font-size: 30px;
    width: 624px;
    height: 72px;
    margin-left: 138px;
    padding-top: 30px;
}
.p1{
    color: #777777;
    font-size: 18px;
    width: 335px;
    height: 28px;
    margin-left: 138px;
    margin-top: 15px;
}
.button3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.button3_1_1{
    color: white;
    background: #BDBDBD;
    text-decoration: none;
    padding: 15px 44px;
    font-size: 16px;
}
.button3_2_1{
    color: #969696;
    border: 1px solid #969696;
    text-decoration: none;
    padding: 15px 49px;
    font-size: 16px;
}
.part2{
    width: 40%;
    height: 250px;
}
.border{
    border: 1.2px dashed #969696;
    border-radius: 50%;
    padding: 12px;
}
.picture1{
    display: flex;
    margin-top: 37px;
}
.picture2{
    display: flex;
    margin-top: 20px;
}
.picture3{
    display: flex;
    margin-top: 20px;
}
.ind{
    height: 45px;
    margin-left: 20px;
    display: flex;
    align-items:center;
}
.hostel_inner{
    height: 635px;
    width: 100%;
}
.best{
    width: 100%;
    margin-top: 100px;
    display: flex;
}
.best1{
    display: flex;
    justify-content: flex-end;
}
.best3{
    height: 52px;
    width: 411px;
    font-size: 45px;
}
