*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.header_inner{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 100px;
    border-bottom: 1px solid #D0D0D0;
}
.center{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
.languages{
    width: 80px;
    border-left:1px solid #E2E2E2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.ru{
    padding-top: 0;
    width: 35px;
    height: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.ru:hover{
    background-color: #4AD295;
    color: white;
}
.ua{
    width: 35px;
    height: 20px;
    text-align: center;
    margin: 0px;
}
.well{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 125px;
    border-left:1px solid #E2E2E2;
}
.img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 135px;
    border-left:1px solid #E2E2E2;
}
.phone{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 224px;
    border-left:1px solid #E2E2E2;
    border-right:1px solid #E2E2E2;
}
.button{
    display: flex;
    justify-content: space-evenly;
    width: 512px;
}
.button1{
    display: flex;
    text-decoration: none;
    color: black;
}
.onl{
    background-color:  #EFF3F6;
    width: 185px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.onli{
    width: 56px;
    height: 56px;
    background-color: #DD4053;
}
.img2{
    margin: 18px;
}
.onl1{
    background-color:  #EFF3F6;
    width: 185px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onli1{
    width: 56px;
    height: 56px;
    background-color: #4AD295;
}
.enumeration{
    margin-top: 27px;
    margin-bottom: 23px;
}
.enumeration_inner{
    display: flex;
    align-items:center;
    justify-content: center;
}
.enume{
    list-style-type: none;
    display: flex;
}
.li{
    padding-left: 60px;
    display: flex;
    align-items:center;
}
.polygon{
    width: 6px;
    height: 6px;
    margin-left: 8px;
}
.map{
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%), url(img/maxresdefault.png);
    background-size: cover;
}
.map_inner{
    height: 490px;
    display: flex;
    margin: 0 auto;
}
.price{
    width: 249px;
    height: 45px;
    border: 1px solid white;
    margin-top: 104px;
    margin-left: 100px;
}
.price_inner{
    color: white;
    text-align: center;
    padding-top: 13px;
}
.map_center{
    width: 725px;
    height: 102px;
    color: white;
    font-size: 45px;
    margin-top: 16px;
    margin-left: 100px;
}
.detali{
    background-color:rgba(255, 255, 255, 0.25);;
    color:white;
    text-decoration: none;
    padding: 20px 85px;
}
.button2{
    margin-top: 58px;
    margin-left: 100px;
}
.aftermap{
    background:#f8f8f8da;
}
.aftermap_inner{
    width: 1440px;
    height: 250px;
    display: flex;
}
.part1{
    width: 54%;
    height: 250px;
}
.p{
    color: black;
    font-size: 30px;
    width: 624px;
    height: 72px;
    margin-left: 100px;
    padding-top: 30px;
}
.p1{
    color: #777777;
    font-size: 18px;
    width: 335px;
    height: 28px;
    margin-left: 100px;
    margin-top: 30px;
}
.button3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 30px;
}
.button3_1_1{
    color: white;
    background: #BDBDBD;
    text-decoration: none;
    padding: 15px 44px;
    font-size: 16px;
}
.button3_2_1{
    color: #969696;
    border: 1px solid #969696;
    text-decoration: none;
    padding: 15px 49px;
    font-size: 16px;
}
.part2{
    width: 40%;
    height: 250px;
}
.border{
    border: 1.2px dashed #969696;
    border-radius: 50%;
    padding: 12px;
}
.picture1{
    display: flex;
    margin-top: 37px;
}
.picture2{
    display: flex;
    margin-top: 20px;
}
.picture3{
    display: flex;
    margin-top: 20px;
}
.ind{
    height: 45px;
    margin-left: 20px;
    display: flex;
    align-items:center;
}
.hostel_inner{
    height: 635px;
    width: 100%;
}
.best{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.best3{
    height: 55px;
    width: 478px; 
    font-size: 45px;
}
.arrow1{
    display: flex;
    align-items: center;
}
.button4_1{
    width: 140px;
    height: 45px;
    border:1px solid #969696;
    color: #969696;
    padding: 14px 35px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 26px;
}
.vizitka{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 580px;
}
.arrow_left{
    border: 1px solid #C6C6C6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    padding-left: 12px;
}
.vizitka_img{
    width: 327px;
    height: 480px;
    background-color: #F8F8F8;
}

.arrow_right{
    border: 1px solid #454545;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    padding-left: 12px;
}
.vizitka_img_one{
    background: url(img/mandarina\ 2.png) ;
    width: 327px;
    height: 250px;
}
.vizitka_img_to{
    background: url(img/Mask\ Group.png) ;
    width: 327px;
    height: 250px;
}
.vizitka_img_three{
    background: url(img/Mask\ Group2.png) ;
    width: 327px;
    height: 250px;
}
.vizitka_top{
    width: 195px;
    height: 30px;
    background: rgba(0, 0, 0, 0.35);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.vizitka_name{
    width: 249px;
    height: 34px;
    color: #323232;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
}
.vizitka_center{
    width: 302px;
    height: 50px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 29px;
}
.vizitka_bottom{
    border-top: 1px solid #E8E8E8;
    width: 280px;
    height: 69px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.vizitka_bottom_left_price{
    color: #DD4053;
    height: 32px;
    width: 96px;
    font-size: 24px;
    margin-top: 23px;
}
.vizitka_bottom_left_term{
    color: #C9C9C9;
    width: 158px;
    height: 13px;
    font-size: 12px;
}
.vizitka_bottom_right{
    color: #3E3E3E;
    width: 70px;
    height: 27px;
    font-size: 12px;
    margin-top: 41px;
}
.form{
    margin-bottom: 93px;
}
.form_wrapper{
    width: 1040px;
    height: 140px;
    background-color:#F8F8F8;
    border-top: 6px solid #969696;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.form_info_title_img{
    width: 15px;
    height: 15px;
}
.form_info_title{
    display: flex;
    align-items: center;
}
.form_info_title_text{
    margin-left: 5px;
}
.form_info{
    display: flex;
    margin-top: 25px;
    width: 825px;

}
.form_info_item{
    margin-top: 5px;
}
.form_info_input_from{
    border:1px solid rgba(46, 46, 46, 0.2);
    width: 103px;
    height: 50px;
    padding-left: 20px;
}
.form_info_input_to{
    display: flex;
    color: rgba(34, 34, 34, 0.4);
    width: 214px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid rgba(46, 46, 46, 0.2);
    background: #FFFFFF;
}
.form_info_input{
    margin-top: 10px;
    font-size: 14px;
}
.form_info_title_to{
    width: 213px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: none;
    border:1px solid rgba(46, 46, 46, 0.2);
    background-color: #fff;
}
.form_info_input_time{
    border:1px solid rgba(46, 46, 46, 0.2);
}
.form_info_input_time_start{
    background: #FFFFFF;
    width: 117px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(34, 34, 34, 0.4);
}
.form_info_input_time_finish{
    background: #FFFFFF;
    width: 111px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(34, 34, 34, 0.4);
}
.form_info_input_time{
    display: flex;
}
.form_info_input_number{
    width: 136px;
    height: 50px;
    border:1px solid rgba(46, 46, 46, 0.2);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(34, 34, 34, 0.4);
}
.form_info_input_time2_start{
    width: 75px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    color: rgba(34, 34, 34, 0.4);
}
.form_info_input_time2_finish{
    width: 74px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    color: rgba(34, 34, 34, 0.4);
}
.form_button{
    width: 135px;
    display: flex;
    align-items: center;
    margin-top: 33px;
}
.form_button_inner{
    color: white;
    background: #DD4053;
    border-radius: 2px;
    padding: 15px 40px;
    text-decoration: none;
}
.questionnaire{
    background: #DD4053;
    margin: 0 auto;
    width: 1200px;
    height: 255px;
    margin-bottom: 90px;
}
.questionnaire_inner_travel{
    display: flex;
}
.questionnaire_inner_travel_h1{
    font-size: 28px;
    width: 618px;
    height: 55px;
    color: white;
    margin-top: 60px;
    margin-left: 100px;
}
.questionnaire_inner_travel_p{
    color: #EFEFEF;
    font-size: 16px;
    width: 363px;
    height: 52px;
    margin-top: 60px;
    margin-left: 57px;
}
.questionnaire_inner_filling{
    display: flex;
    margin-top: 31px;

}
.text{
    width: 410px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    color: #ffffff;
    margin-left: 100px;
}
.tick_inner{
    display: flex;
    margin-left: 51px;

}
.tick_inner_filled{
    display: flex;
    align-items: center;
}
.tick_inner_empty{
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 40px;
}
.tick_inner_filled_text{
    width: 71px;
    height: 20px;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 20px;
}
.tick_inner_empty_text{
    width: 89px;
    height: 20px;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 20px;
}
.button_questionnaire{
    color: #DA2032;
    width: 94px;
    height: 20px;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 72px;
    background: #FFFFFF;
    border-radius: 2px;
    border: black 1px solid;
    margin-top: 15px;
    margin-left: 50px;
   
}
.img_travel{
    background: url(img/Mask\ Group3.png);
    background-size: cover;
}
.img_travel_inner{
    height: 450px;
    padding-top: 60px;
}
.travel{
    font-size: 300px;
    color: rgba(255, 255, 255, 0.2);
    
}
.img_travel_outside{
    width: 900px;
    height: 110px;
    font-size: 60px;
    color: white;
    position: relative;
    bottom: 270px;
    left: 150px;
}
.travel_under{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
    width: 1200px;
    height: 525px;
    display: flex;
    position: relative;
    bottom: 133px;
}
.travel_under_left{
    margin-left: 74px;
    margin-top: 70px;
}
.travel_under_right{
    margin-left: 30px;
    margin-top: 70px;
}
.travel_under_left_heart{
    display: flex;
    align-items: center;
}
.travel_under_left_human{
    display: flex;
    align-items: center;
    margin-top: 76px;
}
.travel_under_left_star{
    display: flex;
    align-items: center;
    margin-top: 76px;
}
.travel_under_right_people{
    display: flex;
    align-items: center;
}
.travel_under_right_think{
    display: flex;
    align-items: center;
    margin-top: 76px;
}
.travel_under_right_energy{
    display: flex;
    align-items: center;
    margin-top: 76px;
}
.travel_under_left_heart_inner{
    display: flex;
    margin-left: 30px;
    color: #2C2C2C;
    width: 413px;
    height: 78px;
    align-items: center;
}
.travel_under_left_human_inner{
    display: flex;
    margin-left: 30px;
    color: #2D2D2D;
    width: 413px;
    height: 78px;
    align-items: center;
}
.travel_under_left_star_inner{
    display: flex;
    margin-left: 30px;
    color: #2D2D2D;
    width: 413px;
    height: 78px;
    align-items: center;
}
.travel_under_right_people_inner{
    display: flex;
    margin-left: 30px;
    color: #2D2D2D;
    align-items: center;
    width: 419px;
    height: 78px;
}
.travel_under_right_think_inner{
    display: flex;
    margin-left: 30px;
    color: #2D2D2D;
    align-items: center;
    width: 419px;
    height: 78px;
}
.travel_under_right_energy_inner{
    display: flex;
    margin-left: 30px;
    color: #2D2D2D;
    align-items: center;
    width: 419px;
    height: 78px;
}

.end{
    background: linear-gradient(180deg, #ECECEC 0%, rgba(232, 232, 232, 0.651) 51.87%, #FFFFFF 100%), url(img/SloveniaHeader\ 3.png);
    background-size: cover;
}
.end_inner{
    height: 370px;
    
}
.logo_to{
    background: rgb(255, 255, 255, 0,9);
}
.end_reference{
    display: flex;
    padding-top: 130px;
    justify-content: center;
    margin-bottom: 40px;
}
.end_reference_all{
    height: 91px;
    display: flex;
}
.end_reference_all_one{
    width: 110px;
    margin-left: 157px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.end_reference_all_to{
    width: 73px;
    margin-left: 80px;
    margin-right: 84px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.end_reference_all_time{
    width: 150px;
    margin-right: 80px;
}
.end_reference_all_phone{
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mode{
    color: #3E3E3E;
    width: 131px;
    height: 16px;
    font-size: 12px;
    margin-bottom: 8px;
}
.all_contact{
    color: #3E3E3E;
    width: 131px;
    height: 16px;
    margin-top: 25px;
    font-size: 12px;
}
.end_finish{
    border-top: 1px solid rgba(29, 29, 29, 0.2);
    border-radius: 2px;
    width: 1036px;
    margin-left: 95px;
    display: flex;
    justify-content: space-between;
    height: 62px;
    align-items: center;
}
.end_finish_left{
    color: rgba(62, 62, 62, 0.5);
    width: 377px;
    height: 18px;
    font-size: 14px;
}
.end_finish_right{
    height: 20px;
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
}
