*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.header_inner{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 100px;
    border-bottom: 1px solid #D0D0D0;
}
.center{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
.languages{
    width: 80px;
    border-left:1px solid #E2E2E2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.ru{
    padding-top: 0;
    width: 35px;
    height: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.ru:hover{
    background-color: #4AD295;
    color: white;
}
.ua{
    width: 35px;
    height: 20px;
    text-align: center;
    margin: 0px;
}
.well{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 125px;
    border-left:1px solid #E2E2E2;
}
.img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 135px;
    border-left:1px solid #E2E2E2;
}
.phone{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 224px;
    border-left:1px solid #E2E2E2;
    border-right:1px solid #E2E2E2;
}
.button{
    display: flex;
    justify-content: space-evenly;
    width: 512px;
}
.button1{
    display: flex;
    text-decoration: none;
    color: black;
}
.onl{
    background-color:  #EFF3F6;
    width: 185px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.onli{
    width: 56px;
    height: 56px;
    background-color: #DD4053;
}
.img2{
    margin: 18px;
}
.onl1{
    background-color:  #EFF3F6;
    width: 185px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onli1{
    width: 56px;
    height: 56px;
    background-color: #4AD295;
}
.enumeration{
    margin-top: 12px;
}
.enumeration_inner{
    display: flex;
    align-items:center;
    justify-content: center;
}
.enume{
    list-style-type: none;
    display: flex;
}
.li{
    padding-left: 60px;
    display: flex;
    align-items:center;
}
.polygon{
    width: 6px;
    height: 6px;
    margin-left: 8px;
}
